<a href="https://colab.research.google.com/github/mythilyram/Python/blob/main/FoodDeliveryAppData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
hotels= pd.read_csv("zomato.csv")
hotels.drop(columns =['address','phone'],inplace=True)


hotels.shape

(56252, 11)

In [28]:
hotels.rename(columns={'rate': 'rating','approx_cost(for two people)':'approx_cost', 'listed_in(type)':'type'},inplace=True)

hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56252 entries, 0 to 56251
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          56236 non-null  object
 1   online_order  56233 non-null  object
 2   book_table    56194 non-null  object
 3   rating        48414 non-null  object
 4   votes         56174 non-null  object
 5   location      56126 non-null  object
 6   rest_type     55914 non-null  object
 7   dish_liked    28027 non-null  object
 8   cuisines      56049 non-null  object
 9   approx_cost   55731 non-null  object
 10  type          51642 non-null  object
dtypes: object(11)
memory usage: 4.7+ MB

In [30]:
 hotels.dropna(subset=['name',"online"],axis = 0,inplace=True)
 hotels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56236 entries, 0 to 56251
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          56236 non-null  object
 1   online_order  56233 non-null  object
 2   book_table    56194 non-null  object
 3   rating        48414 non-null  object
 4   votes         56174 non-null  object
 5   location      56126 non-null  object
 6   rest_type     55914 non-null  object
 7   dish_liked    28027 non-null  object
 8   cuisines      56049 non-null  object
 9   approx_cost   55731 non-null  object
 10  type          51642 non-null  object
dtypes: object(11)
memory usage: 5.1+ MB